<div class="carousel-container">
    <div *ngFor="let element of listeElementsCarousel" class="diapo fondu">
        <ng-container *ngIf="element.type == 'page'">
            <a routerLink="{{ element.lien }}">
                <div class="img-wrapper">
                    <img src="{{ element.source }}" style="width:100%" i18n-alt alt="{{ element.alt }}">
                </div>
            </a>
        </ng-container>
        <ng-container *ngIf="element.type == 'lien'">
            <a i18n-href href="{{ element.lien }}">
                <div class="img-wrapper">
                    <img src="{{ element.source }}" style="width:100%" i18n-alt alt="{{ element.alt }}">
                </div>
            </a>
        </ng-container>
    </div>

    <div id="bar-progression-points">
        <a id="precedent" (click)="incrementDiapo(-1)" i18n="texte sur bouton précédent">&#10094; Précédent</a>
        <div>
            <span *ngFor="let element of listeElementsCarousel; let indexOfElement = index" class="point"
                (click)="diapoActuelle(indexOfElement + 1)"></span>
        </div>
        <a id="suivant" (click)="incrementDiapo(1)" i18n="texte sur bouton suivant">Suivant &#10095;</a>
    </div>
</div>