<nav>
    <mat-toolbar role="navigation" color="primary">
        <div id="nav-logo-wrapper">
            <a routerLink="/accueil">
                <img src="assets/images/logo.png" i18n-alt alt="logo de l'hopital doux-jesus">
            </a>
        </div>
        <ul id="menu-horizontal" fxLayout (mouseleave)="hideFollower()">
            <!--<li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a routerLink="/accueil"
                    i18n="lien pour la page d'accueil">Accueil</a>
            </li> -->
            <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a routerLink="/maladie"
                    i18n="lien pour la page maladie">Maladie</a>
            </li>
            <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a routerLink="/vaccin"
                    i18n="lien pour la page vaccin">Vaccin</a>
            </li>
            <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a routerLink="/prevention"
                    i18n="lien pour la page prévention">Prévention</a></li>
            <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)">
                <a routerLink="/test" i18n="lien pour la page test">Test</a>
            </li>
        </ul>
        <div id="buttons-section-droite">
            <a mat-flat-button color="primary" i18n="langue(localité) dans laquelle on veut traduire le site"
                i18n-href href="/en-CA" id="lang-button">EN</a>
            <button id="button-menu-mobile" (click)="openCloseMenu()" mat-icon-button class="example-icon"
                aria-label="icône pour afficher/fermer le menu principal">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div id="flag-bar">
        <div id="follower"></div>
    </div>

    <!-- Menu pour mobile -->
    <ul id="menu-mobile"></ul>
</nav>