<nav>
    <mat-toolbar role="navigation" color="primary">
        <div id="nav-logo-wrapper"><img src="assets/images/logo.png" alt="logo de l'hopital doux-jesus"></div>
            <ul fxLayout (mouseenter)="displayFollower($event)" (mouseleave)="hideFollower()">
                <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a
                        routerLink="/accueil">Accueil</a>
                </li>
                <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a
                        routerLink="/maladie">Maladie</a>
                </li>
                <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a
                        routerLink="/vaccin">Vaccin</a>
                </li>
                <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a
                        routerLink="/prevention">Prévention</a></li>
                <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a routerLink="/test">Test</a>
                </li>
            </ul>
        <button mat-flat-button color="primary" href="#" id="lang-button">EN</button>
    </mat-toolbar>
    <div id="flag-bar">
        <div id="follower"></div>
    </div>
</nav>