@import "theme_variables";

div.container {
    margin: auto;
    padding: 200px 8px;
    overflow: hidden;
}

//----- MEDIA QUERIES -----//
/* Tel que conseillé par w3schools (https://www.w3schools.com/css/css_rwd_mediaqueries.asp) */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    div.container {
        max-width: 100%;
        padding: 30px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    div.container {
        max-width: 100%;
        padding: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div.container {
        max-width: 720px;
        padding: 50px 8px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    div.container {
        max-width: 960px;
        padding: 50px 8px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    div.container {
        max-width: 1140px;
        padding: 50px 8px;
    }
}
