<nav>
    <mat-toolbar role="navigation" color="primary">
        <div>Hôpital Doux-Jésus</div>
            <ul fxLayout (mouseenter)="displayFollower($event)" (mouseleave)="hideFollower()">
                <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a
                        routerLink="accueil">Accueil</a>
                </li>
                <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a
                        routerLink="maladie">Maladie</a>
                </li>
                <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a
                        routerLink="vaccin">Vaccin</a>
                </li>
                <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a
                        routerLink="prevention">Prévention</a></li>
                <li (mouseenter)="followMe($event)" (mouseleave)="stopFollowing($event)"><a routerLink="test">Test</a>
                </li>
            </ul>
        <button mat-flat-button color="primary" href="#" id="lang-button">EN</button>
    </mat-toolbar>
    <div id="flag-bar">
        <div id="follower"></div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer>
    <mat-toolbar role="footer" color="accent" fxLayout>
        <p fxFlex="1 1 0">Ceci est un footer</p>
    </mat-toolbar>
</footer>