<nav role="navigation" class="primary-navigation">
    <ul class="mat-display-1">
        <li><a routerLink="accueil">Accueil</a></li>
        <li><a routerLink="maladie">Maladie</a>
            <ul class="dropdown">
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Illustration</a></li>
                <li><a href="#">Iconography</a></li>
            </ul>
        </li>
        <li><a routerLink="vaccin">Vaccin</a></li>
        <li><a routerLink="prevention">Prévention</a></li>
        <li><a routerLink="test">Test</a></li>
    </ul>
</nav>

<button mat-raised-button color="primary">BOUTON</button>

<mat-slider></mat-slider>

<h2>{{ title }}</h2>
<!--- <md-card>
    <img ng-src = "/html5/images/html5-mini-logo.jpg" class = "md-card-image" alt = "Learn HTML5">
    <md-card-header>
       <md-card-avatar>
          <img class = "md-user-avatar" src = "/html5/images/html5-mini-logo.jpg">
       </md-card-avatar>
       
       <md-card-header-text>
          <span class = "md-title">HTML5</span>
          <span class = "md-subhead">Learn HTML5 @TutorialsPoint.com</span>
       </md-card-header-text>
    </md-card-header>
    
    <md-card-title>
       <md-card-title-text>
          <span class = "md-headline">HTML5</span>
       </md-card-title-text>
    </md-card-title>
    
    <md-card-actions layout = "row" layout-align = "start center">
       <md-button>Download</md-button>
       <md-button>Start</md-button>
       <md-card-icon-actions>
          <md-button class = "md-icon-button" aria-label = "icon">
             <md-icon class = "material-icons">add</md-icon>
          </md-button>
       </md-card-icon-actions>
    </md-card-actions>
    
    <md-card-content>
       <p>HTML5 is the next major revision of the HTML standard superseding HTML 4.01,
       XHTML 1.0, and XHTML 1.1. HTML5 is a standard for structuring and presenting 
       content on the World Wide Web.</p>
       
       <p>HTML5 is a cooperation between the World Wide Web Consortium (W3C) and the
       Web Hypertext Application Technology Working Group (WHATWG).</p>
       
       <p>The new standard incorporates features like video playback and 
       drag-and-drop that have been previously dependent on third-party browser
       plug-ins such as Adobe Flash, Microsoft Silverlight, and Google Gears.</p>
    </md-card-content>
 </md-card> --->

<router-outlet></router-outlet>

<footer> Ceci est un footer </footer>