<nav>
    <mat-toolbar color="primary" fxLayout fxFlexAlign="center">
        <div>Material is Awesome</div>
        <ul class="mat-subheading-2" fxLayout fxLayout.xs="column">
            <li><a routerLink="accueil">Accueil</a></li>
            <li><a routerLink="maladie">Maladie</a></li>
            <li><a routerLink="vaccin">Vaccin</a></li>
            <li><a routerLink="prevention">Prévention</a></li>
            <li><a routerLink="test">Test</a></li>
        </ul>
    </mat-toolbar>
</nav>



<div class="container">
    <router-outlet></router-outlet>
</div>

<footer>
    <mat-toolbar color="accent" fxLayout>
        <p fxFlex="1 1 0">Ceci est un footer</p>
    </mat-toolbar>
</footer>