<div class="container-md">
    <div class="carousel-placeholder"></div>

    <h2><mark class="titre-surligne">Dépistage</mark></h2>
    <div class="fond-blanc">
        <ul>
            <li>Test de contrôle
                <ol>
                    <li>Aenean non suscipit tortor. Fusce non sem ex. Suspendisse nibh odio, lacinia volutpat eros
                        ac,
                        faucibus commodo nulla. In convallis nunc enim, vel aliquet sapien dignissim eu. Phasellus
                        in
                        orci in velit euismod vulputate sed ac lectus. Praesent pellentesque neque quis egestas
                        feugiat.
                        Praesent tempus leo eu tempor interdum. Nunc elementum vehicula diam eu venenatis. Maecenas
                        porta vitae quam ac ultrices. Maecenas quis iaculis ante.</li>
                    <li>Duis nec diam non ex porta consequat ut sit amet eros. Suspendisse euismod ipsum id erat
                        suscipit, scelerisque convallis turpis pellentesque.</li>
                    <li>Ut pulvinar, diam sed placerat tristique, erat tortor pulvinar nibh, vitae ultricies mi
                        tortor
                        at felis. Fusce dictum, ante ac egestas efficitur, velit velit ornare nunc, quis lobortis
                        dui
                        neque vel dui. Curabitur non massa libero. Nullam pellentesque mattis metus, sit amet rutrum
                        quam feugiat a.</li>
                    <li>Fusce pharetra nisl sed libero suscipit fringilla. Proin eu nulla libero. Etiam ullamcorper
                        tellus nunc. Aliquam vel nisl ante. Phasellus finibus at diam sit amet vestibulum.
                        Pellentesque
                        turpis ex, facilisis id elementum sed, consequat eu mi.</li>
                    <li>Etiam volutpat purus ut tellus euismod accumsan.</li>
                </ol>
            </li>
            <hr>
            <li>Test pour voyage
                <ol>
                    <li>Sed at orci mattis, gravida magna sed, tincidunt lectus. Cras finibus et quam vel dictum.
                    </li>
                    <li>Ut non nunc massa. Morbi eget mollis dolor, mollis venenatis tellus. In orci magna, aliquam
                        et
                        feugiat vel, iaculis in dolor. Aenean lacinia euismod orci convallis efficitur.</li>
                    <li>Maecenas sed sagittis nulla, porttitor lobortis nulla. Phasellus tellus nunc, viverra ac
                        pretium
                        sed, fermentum quis eros. Donec scelerisque turpis in convallis fringilla.</li>
                </ol>
            </li>
        </ul>
    </div>
</div>