<h2 i18n="titre de la section prévention">Prévention</h2>

<img class="bandeau" src="/assets/images/masque.jpg" i18n-alt alt="image d'une fillette portant un masque">

<p id="source" i18n="source info prévention">*Les informations contenues dans cette page sont tirées du <a i18n-href
    href="https://www.canada.ca/fr/sante-publique/services/maladies/2019-nouveau-coronavirus/prevention-risques.html">site du gouvernement canadien</a>.</p>

<h3 i18n="sous-titre propagation (h3)">Comment se propage la COVID-19</h3>

<div class="paragraphe" i18n="paragraphe sur la propagation du coronavirus">
    Une personne infectée transmet la COVID-19 par des gouttelettes respiratoires et des aérosols (gouttelettes
    minuscules) qu'elle projette lorsqu'elle :

    <ul>
        <li>crie</li>
        <li>parle</li>
        <li>tousse</li>
        <li>chante</li>
        <li>éternue</li>
    </ul>

    Vous pouvez également contracter la COVID-19 lorsque vous touchez un objet sur lequel le virus se trouve et que vous
    vous touchez ensuite la bouche, le nez ou les yeux avant de vous être lavé les mains. Vous pouvez transmettre la
    COVID-19 avant de présenter des symptômes ou sans jamais en présenter.
</div>

<!-- <img src="/assets/images/distanciation.jpg" i18n-alt alt="image représentant la distanciation sociale">-->

<h3 i18n="sous-titre quarantaine (h3)">Quarantaine et isolement</h3>
<div class="paragraphe" i18n="paragraphe sur la quarantaine et l'isolement">
    S'il y a lieu, les personnes atteintes de la COVID-19 doivent se mettre en quarantaine ou s'isoler pour éviter de
    transmettre la maladie et pour en empêcher la propagation.

    Si vous avez récemment voyagé à l'extérieur du Canada, les conseils concernant votre période obligatoire de
    quarantaine ou d'isolement peuvent différer.
</div>

<img class="bandeau" src="/assets/images/lavage_mains.jpg" i18n-alt alt="image d'une personne qui se lave les mains">

<h3 i18n="sous-titre mesures de prévention (h3)">Mesures de prévention individuelles</h3>

<h4 i18n="sous-section de mesures de prévention (h4)">Vaccination</h4>
<div class="paragraphe" i18n="paragraphe sur la vaccination">
    La vaccination est l'un des moyens les plus efficaces de protéger notre famille, nos collectivités et de nous protéger nous-mêmes contre la COVID-19. Les vaccins seront offerts gratuitement à toutes les personnes admissibles au Canada au cours de l'année 2021.
</div>

<h4 i18n="sous-section de mesures de prévention (h4)">Pratiques préventives personnelles</h4>
<div class="paragraphe" i18n="paragraphe sur les pratiques préventives personnelles">

    Pendant que le Canada continue de déployer des efforts dans tout le pays pour étendre la couverture vaccinale, les mesures de santé publique demeurent la base de notre réponse à la pandémie.

    La transmission communautaire de la COVID-19 continue dans de nombreuses régions du Canada, et de nouveaux variants préoccupants circulent. C'est la raison pour laquelle il est encore plus important d'utiliser de multiples pratiques préventives personnelles en même temps, quel que soit votre statut vaccinal. Il s'agit d'une approche multidimensionnelle qui aide à se protéger soi-même et à protéger les autres. Songez d'avance aux mesures que vous pouvez prendre pour :
    
    <ul>
        <li>rester en santé</li>
        <li>empêcher la propagation de la COVID-19</li>
    </ul>
</div>