<div class="container-md">
    <div class="carousel-placeholder"></div>
    <h2><mark class="titre-surligne">Prevention</mark></h2>
    <div class="fond-blanc" id="div-prevention">
        <p>
            Pellentesque varius leo sed efficitur imperdiet. Aenean vestibulum porta ullamcorper. Nullam vel lectus
            sed
            tortor consectetur ultrices eleifend vitae diam. Nam a tristique nibh. Maecenas bibendum tortor quis
            erat
            euismod malesuada. Vestibulum libero est, blandit eget consectetur a, cursus quis quam. Duis fermentum,
            eros
            vestibulum laoreet tincidunt, ex ex sollicitudin ipsum, ut malesuada justo mi id tellus. Fusce rhoncus
            id
            eros
            et gravida. Donec posuere, justo sed pulvinar consectetur, ex tortor mollis orci, sed faucibus dolor
            magna
            quis
            lectus. Nam eu euismod dolor. Integer sed nibh dolor. Praesent accumsan tincidunt sem.</p>
        <p>Cras aliquam justo ut diam euismod, in consectetur eros luctus. Quisque at volutpat purus. Praesent
            tincidunt
            risus feugiat urna porttitor, ac aliquam ipsum ultricies. Aenean in placerat nisl, nec finibus purus.
            Aliquam
            eget accumsan nisl. Pellentesque auctor mauris non porta sagittis. Sed et diam vulputate, consequat
            ligula
            nec,
            tincidunt lorem. Cras scelerisque facilisis ante vitae efficitur. Praesent lobortis lectus ut maximus
            efficitur.
            Sed a efficitur magna. Nulla est orci, placerat ac condimentum at, mattis nec sem. Integer consequat
            augue
            nulla, non fringilla libero molestie ac. Duis pellentesque tincidunt eleifend.</p>
        <img src="/assets/images/lavage_mains.jpg" alt="image d'une personne qui se lave les mains">
        <p>Donec interdum auctor nisi. Suspendisse at metus elit. Quisque scelerisque, risus ac tincidunt ornare,
            tortor
            nunc viverra erat, quis tincidunt lorem enim id tortor. Aliquam dictum hendrerit est, sit amet elementum
            nisl
            tristique ut. Aenean mauris elit, molestie ac hendrerit sed, porta sed orci. Cras ut convallis mauris,
            maximus
            posuere lacus. Suspendisse et hendrerit neque. Aliquam eleifend tristique sapien, vitae euismod ex
            accumsan
            sit
            amet. Sed sit amet risus augue. Duis ornare nulla justo, at pharetra metus vehicula sed. Pellentesque
            tempus
            magna id suscipit scelerisque. Donec non sollicitudin augue. Cras molestie tortor eget odio luctus, eu
            malesuada
            urna pretium. In justo metus, mattis sed magna quis, tristique porttitor metus. Interdum et malesuada
            fames
            ac
            ante ipsum primis in faucibus. Integer in eleifend nunc.</p>
        <img src="/assets/images/distanciation.jpg" alt="image représentant la distanciation sociale">
        <p>Nullam bibendum, turpis accumsan hendrerit fringilla, ex odio gravida justo, egestas sollicitudin justo
            dui
            non
            mi. Curabitur imperdiet, lacus nec mollis vehicula, neque erat pulvinar purus, eu sagittis felis nunc eu
            leo.
            Nunc a mi suscipit, auctor diam at, ullamcorper lectus. Class aptent taciti sociosqu ad litora torquent
            per
            conubia nostra, per inceptos himenaeos. Cras non magna in ipsum pharetra mattis vitae sit amet elit. Nam
            convallis, metus sed congue elementum, nisi erat malesuada diam, eget blandit purus leo nec massa.
            Pellentesque
            vehicula sapien id turpis rhoncus interdum.</p>
        <img src="/assets/images/masque.jpg" alt="image d'une fillette portant un masque">
        <p>Phasellus libero lectus, auctor ac massa vitae, interdum tincidunt ex. Suspendisse eleifend ac ipsum at
            porttitor. Maecenas tempus pellentesque bibendum. Donec quis enim quis elit aliquet sollicitudin a eget
            magna.
            Suspendisse dolor nulla, tincidunt id maximus vitae, consequat ut tortor. Mauris eget ante egestas,
            laoreet
            libero eu, ornare urna. Mauris eu risus purus. Maecenas dui orci, posuere ac nunc at, viverra hendrerit
            lorem.
        </p>
    </div>
</div>