<app-carousel></app-carousel>

<h2>Bienvenue sur le site web de l'Hôpital Doux-Jésus *i18n</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eros mauris, tincidunt consequat ante in, auctor
    dictum enim. Proin faucibus placerat libero, sit amet imperdiet ipsum commodo quis. Duis volutpat orci id tempus
    malesuada. Sed faucibus ac lectus ultricies suscipit. In rhoncus enim ac vestibulum varius. Duis quis mauris
    imperdiet, mollis lacus a, lobortis dolor. Vestibulum rutrum egestas turpis sed hendrerit. Mauris vulputate
    ullamcorper augue id pretium.

    Donec elit tortor, viverra eget metus tincidunt, iaculis feugiat turpis. Mauris ac porttitor ante, ac hendrerit
    ipsum. Pellentesque pellentesque ullamcorper accumsan. Curabitur imperdiet fermentum tortor posuere posuere. Sed
    lacus massa, dictum eu enim vel, gravida tincidunt velit. Vivamus rhoncus aliquet dignissim. Nam vitae lorem libero.
    Duis ut justo eu est elementum venenatis nec non tortor. Duis tempor, quam vel facilisis volutpat, sapien sem
    eleifend sapien, ac elementum nisl tortor nec nulla. Phasellus vel lacus lacus. Aenean porttitor ipsum et quam
    aliquam, sed aliquet nunc molestie. Maecenas eu auctor sapien, non consectetur lectus. Class aptent taciti sociosqu
    ad litora torquent per conubia nostra, per inceptos himenaeos.

    In at arcu efficitur, lacinia lorem eu, vehicula dolor. Etiam in efficitur metus. Nam vestibulum non eros et
    efficitur. Sed eu maximus quam. Aenean pretium feugiat turpis, ut placerat neque congue eget. Curabitur lobortis
    cursus augue fringilla ornare. Integer dolor ipsum, vestibulum non ligula sed, volutpat commodo turpis. Pellentesque
    dictum accumsan massa, at pulvinar arcu convallis a. Mauris consectetur purus convallis, dictum lacus at, volutpat
    massa. Vestibulum commodo, ligula nec malesuada molestie, velit libero pulvinar ligula, et malesuada turpis diam id
    mi. Pellentesque id ornare velit. Phasellus luctus egestas velit sed lacinia.
</p>